extends layout

block content
	article(id="question") 
		header(id="title") Zaglavie
		body(id="text") Text
		footer(id="footer") 10/11/2013, от Ime Na Avtor
			p(id="revies") Отговори: 10 Видяна: 54
			p(id="tags") Тагове: {#tags}

	div(class="jumbotron")
		div(class="container")
			h1
				span(class="label label-success")Добави въпрос
			form(method="post", action="#", name="input")
				div(class="input-group")
					span(class="input-group-addon") Заглавие: 
					input(type="text", class="form-control input-field", placeholder="Заглавие", name="title", id="title")
				div(class="input-group")
					span(class="input-group-addon") Bъпрос:
					textarea(placeholder="опишете въпроса си тук", name="text", class="form-control input-field", rows="3", id="text")
				div(class="input-group")
					span(class="input-group-addon") Тагове:
					input(type="text", class="form-control input-field", placeholders="добавете тагове, разделени със запетай", name="tags" id="tags")
				input(type="submit", value="Submit", class="btn btn-primary btn-lg")

	div(id="topQuestion", class="topQuestion")
		a(href="#", id="title") #{title} 
		#{author}
		#{answers}
		#{views}
		#{date}
		ul
			for tag in ["A", "B", "C"]
				li= tag
