article(id="question") 
	header(id="title") #{title}
	body(id="text") #{text}
	footer(id="footer") #{date}, от #{author}
		p(id="revies")Отговори: #{answers} Видяна: #{views}
		p(id="revies") Тагове: {#tags}