.wrapper
	legend(class="legend", id="title")
		.vote-btns
			img(src="images/vote-up.png", alt="", class="vote-up")
			img(src="images/vote-down.png", alt="", class="vote-down")
		.votes-count #{votes_count}
		span#title #{title}
	div(class="alert alert-warning", id="div-message")
		body(id="text") #{text}
		footer(id="footer")
			Публикувано на #{(new Date(date)).getDate()}-#{(new Date(date)).getMonth()}-#{(new Date(date)).getFullYear()} в #{(new Date(date)).getHours()}:#{(new Date(date)).getMinutes()}:#{(new Date(date)).getSeconds()}  , от #{author}
			p#reviews Отговори: #{answers_count} Видяна: #{views_count}
			p#tags Тагове: 
				ul.tags-list
					for tag in tags
						li #{tag}
				.clrfix
	span.clrfix
	div#answer-section
		form
			p(class="input-group-addon span-width") Haпиши отговор:
			textarea(class="form-control input-field input-width", rows="3", id="text")
			input(type="submit", class="btn btn-info",id="answer-button", value="Отговори")	