article(id="question") 
	#title #{title}
	#text #{text}
	#footer #{date}, от #{author}
		p#reviews Отговори: #{answers_count} Видяна: #{views_count}
		p#tags Тагове: #{tags}
	p.your-answer Вашият отговор
	div#answer-section
		form
			input#title(type="text", placeholder="Заглавие", class="input-field")
			br
			textarea#text(placeholder="Въведете своя отговор тук!",class="input-field", rows="10")
			br
			button#answer-button(type='submit', class='btn') Отговори