article(id="question") 
	header(id="title") #{title}
	body(id="text") #{text}
	footer(id="footer") 
		#{date}, от #{author}
		Отговори: #{answers} Видяна: #{views}

		span(id="tags")Тагове: {#tags}

		span(id="tags") Тагове: {#tags}